* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --box-shadow: 0px 0px 0px 6px rgb(255 255 255/40%);
    --orange:#39931594;
}

.body {
    background-color: var(--orange);
    padding: 30px 0;
}

header {
    background-color: #349739e8;
    height: 90px;
    box-shadow: 1px 1px 13px #181717;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    padding: .8rm 2.5em;
    text-transform: uppercase;
    background: #fff;
    color: var(--orange);
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background: black;
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.title h1 {
    font-size: 3rem;
}

.title span {
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 2;
    color: var(--orange);
}

input,
button
textarea {
    /* outline: none; */
    border: 1px solid #55555544;
    background: transparent;
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    margin: 1rem 0;
}

button {
    cursor: pointer;
}
input[type=submit] {
    cursor: pointer;
}

input {
    outline: none;
}

.fa-trash-o{
    font-size: 25px;
    color: #b90000;
}

.message {
    font-size: 25px;
}
/* ----------form-container(start)---------- */
.form-container {
    background: var(--orange);
    width: 100%;
    min-height: 100vh;
    padding: 4rem 0;
    position: relative;
}
/* //////////////////////////////// */
.form-container::before {
    content: '';
    position: absolute;
    height: 350px;
    top: -19%;
    left: 3%;
    width: 347px;
    background-size: 225px;
    background-repeat: no-repeat;
    z-index: 100;
    background: url(./images/95dba71d361cfbff61aeb2a5c19c151hc\ 1.png);
}

.form-container::after {
    content: '';
    position: absolute;
    background: url(images/b038334a25c534777772d757483e077c3fb0a\ 1.png);
    bottom: 0;
    right: 0;
    width: 400px;
    height: 340px;
    background-size: 350px;
    background-repeat: no-repeat;
    z-index: 1;
}
/* ////////////////////////////////// */

.form-container h1 {
    text-transform: uppercase;
    margin: 2rem 0;
    font-size: 2.3rem;
    text-align: center;
}

.form-container form {
    width: 60%;
    margin: 1rem auto;
    background: rgb(255 255 255/80%);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container form label {
    text-transform: uppercase;
    width: 100%;
}

.form-container form input {
    width: 85%;
}

.form-container form textarea {
    width: 85%;
    height: 200px;
}

.form-container form button {
    width: 85%;
    background: var(--orange);
    border: none;
}

/* ----------form-container(end)---------- */

/* ----------------banner---------------- */
.banner {
    background: var(--orange);
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: 1;
}

.banner .detail {
    position: absolute;
    padding: 7rem 0;
    left: 31%;
    text-align: center;
    z-index: 200;
}

.banner .detail h1 {
    font-size: 4rem;
    color: #fff;
    text-transform: capitalize;
}

.bannner .detail p {
    font-size: 18px;
    line-height: 2;
}

.banner .detail a {
    text-decoration: none;
    color: #000;
}

.banner .detail span {
    color: #fff;
}
/* -------------header(start)------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    transform: .3s;
}
header.scrolled{
    background: #fff;
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}
header.scrolled a:hover {
    color: var(--orange);
}

.flex {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.flex a {
    color: #000;
}

.flex .icons {
    width: 50px;
    display: flex;
    justify-content: space-between;
}

i{
    cursor: pointer;
}

.flex .icons i:hover {
    color: #fff;
}

.header .user-box {
    position: absolute;
    top: 120%;
    right: 0rem;
    background: rgb(255 255 255/ 80%);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
    width: 20rem;
    transform: scale(0);
    transform-origin: top right;
    line-height: 2;
}

.header .user-box.active {
    transform: scale(1.0);
    transition: .2s linear;
}

.logout-btn {
    width: 170px;
    height: 40px;
    border-radius: .5rem;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1rem;
    color: #000;
    text-transform: uppercase;
}

.navbar a:hover,
header .icons i :hover {
    color: #fff;
    text-decoration: none;
}

.header .icons {
    display: flex;
}

#menu-btn {
    display: none;
}

/* -------------admin dashboard------------- */
.dashboard {
    padding: 3rem;
    margin-top: -3.5rem;
    position: relative;
}

.box-container {
    padding: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    column-gap: 1rem;
}
.box-container .box {
    background: #fff;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    margin: 1rem;
}


.dashboard h3 {
    text-align: center;
    font-size: 2rem;
}

.dashboard p {
    font-size: 20px;
    text-transform: capitalize;
    margin: .5rem 0;
}

/* -----------admin product page----------- */
.add-products .input-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-products .input-field label {
    width: 85%;
}


.err p {
    color: red;
}

/* --------admin product page(product section)-------- */

.get-products {
    background-color: var(--orange);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    margin-top: 120px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    column-gap: 1rem;
}

.container .product {
    align-items: center;
    width: 250px;
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    margin: 1rem;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-self: center;
}

.container .product img {
    height: 200px;
    width: 100%;
}

.container .product .product-detail {
    width: 100%;
    margin: 10px;
    overflow: auto;
}

.container .product .product-detail::-webkit-scrollbar{
    width: 10px;
}

.container .product .product-detail::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

.container .product .product-detail::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #399315d4, #439734bf);
  }
/* ---------------message page--------------- */
.boxContainer {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-box {
    width: 90%;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
/* ---------------users page--------------- */
.users-body {
    background-color: var(--orange);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-container {
    width: 400px;
    height: 300px;
    background-color: var(--orange);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    position: fixed;
    top: 110px;
    right: 20px;
    padding: 10px;
    display: inline-block;
    overflow: auto;
    text-align: center;
}

.shop-container::-webkit-scrollbar{
    width: 10px;
}

.shop-container::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgb(55 63 68 / 57%) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}

.shop-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #399315d4, #439734bf);
  }

.shop-container .product{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid rgb(255 255 255/40%);
    box-shadow: 0px 0px 2px 2px rgb(255 255 255 / 40%);
    padding: 5px;
    margin-bottom: 20px;
    align-items: center;
}

.shop-container .product img{
    width: 80px;
    height: 80px;
}

.shop-container .product button {
    border: 0;
    background-color: transparent;
}

.shop-container .count-box {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-around;
}

.shop-container .count-box input{
    box-shadow: 1px 1px 3px #181717;
    width: 40%;
    height: 30px;
    border: 0;
    text-align: center;
    padding: 0;
}

.shop-container .count-box a {
    cursor: pointer;
}

.shop-container .prices p{
    display: inline-block;
}

.shop-container .checkboxes {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.shop-container .checkboxes div{
    display: flex;
    align-items: center;
}

.shop-container .checkboxes input{
    width: 25px;
}

.users-container {
    padding: 20px;
    width: 80%;
    background: #fff;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: 20px;
}

.users-container tbody tr{
    margin-top: 20px;
}

.users-container tbody tr .delete-td {
    white-space: nowrap;
    width: 1%;
}

.users-container tbody button {
    width: 90px;
    height: 30px;
    background-color: white;
    border: 2px solid #2E7D32;
    border-radius: 5px;
}
/* ----------------user page---------------- */


.user-search {
    width: 45%;
    height: 30px;
    box-shadow: 1px 1px 3px #181717;
}

.count-box {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count-box .minus, .plus {
    border-radius: 20px;
    border: 1px solid #2E7D32;
    width: 25px;
    height: 25px;
    background-color: #fff;
}

.count-box .count {
    height: 40px;
    width: 100px;
    margin: 10px;
    border: 1px solid #2E7D32;
    font-size: 23px;
    text-align: center;
    border-radius: 20px;
}

.count-box .count::placeholder {
    color: #2E7D32;
}

.price-div {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}


.container .icon {
    width: 70%;
    font-size: 20px;
}

.icon button {
    border: 0;
}
/* ---------------about page--------------- */
.about-body {
    align-items: center;
    flex-direction: column;
}

.about-page-banner {
    margin-top: 90px;
    width: 100%;
    height: 500px;
    background-image: url(./image/file-20240509-20-b53zle.avif);
}

.about-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.about-text {
    width: 80%;
    padding: 20px;
}
/* --------------contact page-------------- */
.contact_container {
    margin-top: 120px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.contact_container .info {
    width: 35%;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    padding: 10px;
}

.contact_form {
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: var(--box-shadow);
}
/* -----------------footer----------------- */
.footer-container {
    width: 95%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    margin-top: 50px;
}

.footer-container .footer-little-info, .footer-contacts {
    width: 30%;
}

.footer-little-info a {
    color: black;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-contacts a {
    font-size: 20px;
    color: black;
}

.footer-contacts i {
    font-size: 35px;
}

/* --------------order-------------- */

.orderBox {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
/* --------------media screen-------------- */
@media (max-width: 991px){
    #menu-btn {
        display: block;
    }
    .header .flex .navbar {
        position: absolute;
        top: 149%;
        left: 0;
        display: block;
        right: 0;
        border-top: 1px solid #000;
        background: #fff;
        transition: .3s ease;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    }
    .header .flex .navbar a:hover {
        color: var(--orange);
    }
    .banner .detail {
        left: 10%;
    }
}



