@import url("./css/form.css");
@import url("./css/header.css");
@import url("./css/dashboard.css");
@import url("./css/banner.css");
@import url("./css/admin-product.css");
@import url("./css/message-page.css");
@import url("./css/user-page.css");
@import url("./css/about-page.css");
@import url("./css/contact-page.css");
@import url("./css/footer.css");
@import url("./css/order.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --box-shadow: 0px 0px 0px 6px rgb(255 255 255/40%);
    --orange:#39931594;
}

.body {
    background-color: var(--orange);
    padding: 30px 0;
}

header {
    background-color: #349739e8;
    height: 90px;
    box-shadow: 1px 1px 13px #181717;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    padding: .8rm 2.5em;
    text-transform: uppercase;
    background: #fff;
    color: var(--orange);
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background: black;
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

.title h1 {
    font-size: 3rem;
}

.title span {
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 2;
    color: var(--orange);
}

input,
button
textarea {
    /* outline: none; */
    border: 1px solid #55555544;
    background: transparent;
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    margin: 1rem 0;
}

button {
    cursor: pointer;
}
input[type=submit] {
    cursor: pointer;
}

input {
    outline: none;
}

.fa-trash-o{
    font-size: 25px;
    color: #b90000;
}

.message {
    font-size: 25px;
}


/* --------------media screen-------------- */
@media (max-width: 991px){
    #menu-btn {
        display: block;
    }
    .header .flex .navbar {
        position: absolute;
        top: 149%;
        left: 0;
        display: block;
        right: 0;
        border-top: 1px solid #000;
        background: #fff;
        transition: .3s ease;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    }
    .header .flex .navbar a:hover {
        color: var(--orange);
    }
    .banner .detail {
        left: 10%;
    }
}



